:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #FFF;
    --gray: #5f636f;
    --gray-dark: #1F2937;
    --w-cc5-btn-secondary-border: ;
    --w-cc5-btn-secondary: #F3F2F2;
    --w-cc5-btn-primary-border: ;
    --w-cc5-btn-primary: ;
    --w-cc5-link: ;
    --w-cc5-h6: ;
    --w-cc5-h5: ;
    --w-cc5-h4: ;
    --w-cc5-h3: ;
    --w-cc5-h2: ;
    --w-cc5-headings: #FFFFFF;
    --w-cc5-text: ;
    --w-cc5-bg: #111827;
    --w-cc4-btn-secondary-border: ;
    --w-cc4-btn-secondary: #F3F2F2;
    --w-cc4-btn-primary-border: ;
    --w-cc4-btn-primary: #111827;
    --w-cc4-link: #111827;
    --w-cc4-h6: ;
    --w-cc4-h5: ;
    --w-cc4-h4: ;
    --w-cc4-h3: ;
    --w-cc4-h2: ;
    --w-cc4-headings: ;
    --w-cc4-text: ;
    --w-cc4-bg: #714B67;
    --w-cc3-btn-secondary-border: ;
    --w-cc3-btn-secondary: #F3F2F2;
    --w-cc3-btn-primary-border: ;
    --w-cc3-btn-primary: ;
    --w-cc3-link: ;
    --w-cc3-h6: ;
    --w-cc3-h5: ;
    --w-cc3-h4: ;
    --w-cc3-h3: ;
    --w-cc3-h2: ;
    --w-cc3-headings: ;
    --w-cc3-text: ;
    --w-cc3-bg: #8595A2;
    --w-cc2-btn-secondary-border: ;
    --w-cc2-btn-secondary: ;
    --w-cc2-btn-primary-border: ;
    --w-cc2-btn-primary: ;
    --w-cc2-link: ;
    --w-cc2-h6: ;
    --w-cc2-h5: ;
    --w-cc2-h4: ;
    --w-cc2-h3: ;
    --w-cc2-h2: ;
    --w-cc2-headings: #111827;
    --w-cc2-text: ;
    --w-cc2-bg: #F3F2F2;
    --w-cc1-btn-secondary-border: ;
    --w-cc1-btn-secondary: ;
    --w-cc1-btn-primary-border: ;
    --w-cc1-btn-primary: ;
    --w-cc1-link: ;
    --w-cc1-h6: ;
    --w-cc1-h5: ;
    --w-cc1-h4: ;
    --w-cc1-h3: ;
    --w-cc1-h2: ;
    --w-cc1-headings: ;
    --w-cc1-text: ;
    --w-cc1-bg: #FFFFFF;
    --w-color-5: #111827;
    --w-color-4: #FFFFFF;
    --w-color-3: #F3F2F2;
    --w-color-2: #8595A2;
    --w-color-1: #714B67;
    --gray-100: #F9FAFB;
    --gray-200: #e7e9ed;
    --gray-300: #d8dadd;
    --gray-400: #9a9ca5;
    --gray-500: #7c7f89;
    --gray-600: #5f636f;
    --gray-700: #374151;
    --gray-800: #1F2937;
    --gray-900: #111827;
    --gray-white-85: rgba(255, 255, 255, 0.85);
    --gray-white-75: rgba(255, 255, 255, 0.75);
    --gray-white-50: rgba(255, 255, 255, 0.5);
    --gray-white-25: rgba(255, 255, 255, 0.25);
    --gray-black-75: rgba(0, 0, 0, 0.75);
    --gray-black-50: rgba(0, 0, 0, 0.5);
    --gray-black-25: rgba(0, 0, 0, 0.25);
    --gray-black-15: rgba(0, 0, 0, 0.15);
    --primary: #714B67;
    --secondary: #d8dadd;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #e99d00;
    --danger: #d44c59;
    --light: #FFF;
    --dark: #111827;
    --primary-rgb: 113, 75, 103;
    --secondary-rgb: 216, 218, 221;
    --success-rgb: 40, 167, 69;
    --info-rgb: 23, 162, 184;
    --warning-rgb: 233, 157, 0;
    --danger-rgb: 212, 76, 89;
    --light-rgb: 255, 255, 255;
    --dark-rgb: 17, 24, 39;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --body-color-rgb: 55, 65, 81;
    --body-bg-rgb: 249, 250, 251;
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --body-font-family: var(--font-sans-serif);
    --body-font-size: 0.875rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    --body-color: #374151;
    --body-bg: #F9FAFB;
}

.pos {
    background: #111827;
    --btn-height-size: 54px;
    direction: ltr;
    padding: 0;
    margin: 0;
    background-color: #f0eeee;
    color: #374151;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-shadow: none;
}

.dvh-100 {
    height: 100vh !important;
    height: 100dvh !important;
}

.pos a {
    text-decoration: none;
    color: #374151;
}

.pos ul,
.pos ol {
    padding: 0;
    margin: 0;
}

.pos li {
    list-style-type: none;
}

.modal-footer {
    justify-content: start;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    padding: 0px;
}

.oe_invisible {
    visibility: hidden !important;
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
    clear: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit--webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.h-12 {
    height: 12%;
}


/* /point_of_sale/static/src/app/screens/partner_list/partner_editor/partner_editor.scss */

.partner-picture {
    height: 64px;
    width: 64px;
}

.partner-picture>img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    max-height: 64px;
    margin: auto;
}

.partner-picture .image-uploader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.partner-details input:disabled {
    color: #999999;
    border-color: #cccccc;
}


/* /point_of_sale/static/src/app/screens/partner_list/partner_line/partner_line.scss */

.partner-line.active {
    background-color: #e6f2f3;
}

@media (max-width: 991.98px) {
    .partner-line {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        padding: 12px 24px;
        border-bottom: 1px solid #d8dadd;
    }

    .partner-line td {
        border: 0;
        flex-basis: 100%;
        padding: 5px;
        background-color: transparent;
    }

    .partner-line-balance {
        order: 3;
    }

    .partner-line .pos-right-align {
        text-align: left;
    }

    .edit-partner-button-cell {
        order: 4;
    }

    .partner-line-last-column-placeholder {
        display: none;
    }
}


/* /point_of_sale/static/src/app/screens/partner_list/partner_list.scss */

.partner-list th.partner-line-last-column-placeholder,
.partner-list td.partner-line-last-column-placeholder {
    padding: 0;
}

.partnerlist-screen tr.partner-line:hover {
    cursor: pointer;
    background: #e7e9ed;
}

.partnerlist-screen tr.partner-line:active {
    background-color: #e6f2f3;
}

@media (max-width: 991.98px) {
    .table {
        border: transparent;
    }

    .partner-list thead {
        display: none;
    }

    .partner-list td {
        padding: 0;
    }
}


/* /point_of_sale/static/src/app/screens/payment_screen/payment_lines/payment_lines.scss */

.paymentlines .electronic_payment {
    background: #e7e9ed;
    border-collapse: unset;
    font-size: 16px;
    padding-right: 0;
}

.paymentline .electronic_status {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 16px;
}

.paymentlines .electronic_payment div:first-child {
    flex-grow: 2;
    margin-left: 10px;
    margin-right: 10px;
}

.paymentlines .electronic_payment div:last-child {
    flex-grow: 1;
    text-align: center;
    padding: 16px;
}


/* /point_of_sale/static/src/app/screens/payment_screen/payment_screen.scss */

.payment-method-icon {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}


/* /point_of_sale/static/src/app/screens/payment_screen/payment_status/payment_status.scss */

.paymentlines-empty .total {
    font-size: 3rem;
    text-shadow: 0px 2px white, 0px 2px 2px rgba(0, 0, 0, 0.27);
}

@media (max-width: 767.98px) {
    .paymentlines-empty .message {
        padding-bottom: 16px;
    }
}


/* /point_of_sale/static/src/app/screens/product_screen/action_pad/action_pad.scss */

.set-partner span {
    height: 32px;
    width: 32px;
    min-width: 32px;
}

.pay-order-button,
.set-partner {
    height: 56px;
}


/* /point_of_sale/static/src/app/screens/product_screen/control_buttons/control_buttons.scss */

.control-buttons {
    white-space: nowrap;
    gap: 1px;
}

.control-button {
    flex: 1 1 29%;
    padding: 8px;
}

.control-button.altlight,
.button.altlight {
    background: #7F82AC !important;
    border: solid 1px #756A99 !important;
    color: white !important;
}


/* /point_of_sale/static/src/app/screens/product_screen/product_info_popup/product_info_popup.scss */

.product-info-popup {
    max-width: 800px !important;
}

.product-info-popup .modal-body {
    max-height: 70vh;
}


/* /point_of_sale/static/src/app/screens/product_screen/product_list/product_list.scss */

.product-list {
    grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
}

@media only screen and (max-width: 768px) {
    .product-list.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.button-no-demo {
    color: #017e84 !important;
}


/* /point_of_sale/static/src/app/screens/product_screen/product_screen.scss */

.w-60 {
    width: 60%;
}


/* /point_of_sale/static/src/app/screens/receipt_screen/receipt_screen.scss */

.pos-receipt-container {
    direction: ltr;
}

.receipt-screen .default-view .pos-receipt-container {
    flex-basis: 400px;
}

@page {
    margin: 0;
}

@media print {
    body {
        background: white;
    }

    body * {
        visibility: hidden;
    }

    .pos,
    .pos * {
        position: static !important;
    }

    .pos .receipt-screen .pos-receipt-container {
        position: absolute !important;
        top: 0;
        left: 0;
    }

    .pos .receipt-screen .pos-receipt-container,
    .pos .receipt-screen .pos-receipt-container *,
    .render-container * {
        visibility: visible;
        background: white !important;
        color: black !important;
    }

    .pos .pos-receipt {
        margin: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border: none !important;
        font-size: 14px !important;
        width: 266px !important;
    }

    .render-container {
        position: absolute !important;
        top: 10px;
        left: 10px;
    }
}


/* /point_of_sale/static/src/app/screens/scale_screen/scale_screen.scss */

.computed-price,
.weight {
    font-family: Inconsolata;
    text-shadow: 0px 2px 0px #d2d2d2;
    box-shadow: 0px 2px 0px #e1e1e1 inset;
}


/* /point_of_sale/static/src/app/screens/ticket_screen/search_bar/search_bar.scss */

.search-icon {
    z-index: 4;
}

.fields {
    position: absolute;
    top: calc(100% + 5px);
    right: 2px;
    left: 2px;
    box-shadow: 1px 1px 3px grey;
    overflow: auto;
}

.fields li:hover,
.fields .highlight {
    background: #DDD;
}

.options {
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1;
}

.options .indented {
    text-indent: 1em;
}

@media screen and (max-width: 768px) {
    .search input {
        padding-left: 10px;
    }
}


/* /point_of_sale/static/src/app/screens/ticket_screen/ticket_screen.scss */

.left-pane {
    max-width: 500px;
}

.orders .col {
    flex: 1;
}

.orders .col.very-narrow {
    flex: 0.2;
}

.orders .col.narrow {
    flex: 0.5;
}

.orders .col.wide {
    flex: 1.5;
}

.order-row:hover {
    color: white;
    background-color: #714B67 !important;
}

@media screen and (max-width: 640px) {
    .screen-full-width {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: auto;
        min-height: 100%;
    }

    .controls {
        position: sticky;
        top: 0;
        background: #d8dadd;
        z-index: 100;
    }

    .ticket-screen .order,
    .ticket-screen .leftpane {
        max-width: inherit;
    }

    .ticket-screen .rightpane {
        width: auto;
    }

    .pos .orders {
        position: sticky;
    }
}

@media screen and (min-width: 992px) {
    .order-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        cursor: pointer;
    }

    .order-row:nth-child(odd) {
        background: #e7e9ed;
    }

    .order-row:nth-child(even) {
        background: white;
    }
}

@media screen and (max-width: 992px) {
    .order-row {
        margin: 5px;
        border: 1px solid #C9CCD2;
        background: white;
    }
}

@media screen and (min-width: 992px) {
    .pos .orders .col.end {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 992px) {
    .pos .orders .order-row>.col>div:first-child {
        font-weight: bold;
    }

    .ticket-screen .order-row .delete-button {
        margin-top: 5px;
        justify-content: center;
        background: #d23f3a;
        color: white;
    }

    .ticket-screen .order-row .delete-button .fa-trash {
        margin-right: 5px;
    }
}


/* /point_of_sale/static/src/app/store/combo_configurator_popup/combo_configurator_popup.scss */

.combo-configurator-popup input {
    -webkit--webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz--webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.combo-configurator-popup input.selected+label {
    box-shadow: 0 0 0 2px #714B67;
}


/* /point_of_sale/static/src/app/utils/input_popups/selection_popup.scss */

.popup-selection .selection {
    max-height: 300px;
}


/* /point_of_sale/static/src/css/customer_facing_display.css */

@keyframes item_in {
    0% {
        opacity: 0;
        margin-top: -30px;
    }

    50% {
        margin-top: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes item_in {
    0% {
        opacity: 0;
        margin-top: -30px;
    }

    50% {
        margin-top: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    font-smooth: always;
}

body .pos-customer_facing_display {
    background-color: #f6f6f6;
    font-size: 2vw;
    font-family: Futura, HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
}

body .pos-customer_facing_display .pos-customer_products {
    overflow: auto;
    padding: 1%;
}

body .pos-customer_facing_display .pos-customer_products,
body .pos-customer_facing_display .pos-payment_info {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.pos-customer_facing_display .pos_orderlines_list {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.pos-customer_facing_display .pos-order_top_bar {
    border-radius: 0.2rem;
    padding: 0.5rem 1rem 0.3rem 1.3rem;
    color: white;
    font-weight: bold;
    font-size: max(min(3.2vh, 3.2vw), 1rem);
    background-color: #343A40;
}

.pos-customer_facing_display .pos_orderlines_list table {
    text-align: center;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.pos-customer_facing_display .pos_orderlines_list table th {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    color: #212529;
    font-weight: 590;
    font-size: max(min(2vh, 2vw), 1rem);
}

.pos-customer_facing_display .pos_orderlines_list table th.pos-product-th {
    text-align: left;
}

.pos-customer_facing_display .pos_orderlines_list table th.pos-product-th span {
    margin-left: 1rem;
}

.pos-customer_facing_display .pos_orderlines_list table td {
    word-wrap: break-word;
    max-width: min(13vw, 8rem);
    padding: 0 0.3vw;
    font-size: max(min(3vh, 3vw), 1rem);
    font-weight: bold;
}

.pos-customer_facing_display .pos_orderlines_list table td.product_img {
    padding: 1vh 1vh;
    max-width: unset;
}

.pos-customer_facing_display .pos_orderlines_list table td.product_img img {
    width: min(10vh, 10vw);
    height: min(10vh, 10vw);
    border-radius: 10%;
}

.pos-customer_facing_display .pos_orderlines_list table td.product_text_info {
    min-width: 15vw;
    max-width: 30vw;
}

.pos-customer_facing_display .pos_orderlines_list table .product_text_info ul {
    text-align: left;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.pos-customer_facing_display .pos_orderlines_list table td .product_details i.fa {
    margin-right: 0.5rem;
    color: gray;
}

.pos-customer_facing_display .pos_orderlines_list table td .product_details {
    font-size: max(min(2.5vh, 2.5vw), 0.8rem);
}

.pos-customer_facing_display .pos_orderlines_list table td.product_quantity>span+span {
    margin-left: .3rem;
    word-wrap: unset;
    white-space: nowrap;
    word-break: break-word;
}

.gray {
    color: gray;
}

.pos-customer_facing_display .order-empty {
    text-align: center;
    margin: auto;
}

.pos-customer_facing_display .order-empty .fa {
    font-size: min(max(8vw, 2.3rem), 4.3rem);
}

.pos-customer_facing_display .order-empty h1 {
    font-size: min(max(4vw, 1.3rem), 2.3rem);
}

body .pos-customer_facing_display .pos_orderlines {
    width: 100%;
    height: 100%;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_list {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding-right: 1.5vw;
    position: relative;
    height: 100%;
}

.pos-customer_facing_display .pos_orderlines .pos_orderlines_item td:first-child {
    border-left-style: solid;
    border-top-left-radius: 0.9vw;
    border-bottom-left-radius: 0.9vw;
}

.pos-customer_facing_display .pos_orderlines .pos_orderlines_item td:last-child {
    border-left-style: solid;
    border-top-right-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item {
    padding: 1%;
    border-radius: 0.9vw;
}

body .pos-customer_facing_display .pos_orderlines_list.backend_product_screen .selected_orderline {
    scroll-snap-align: center;
    animation: item_in 1s ease;
}

body .pos-customer_facing_display .pos-thank-you-message {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: min(max(4vw, 1.3rem), 2.3rem);
    text-align: center;
}

body .pos-customer_facing_display .pos-payment_info {
    max-width: 30%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total,
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total {
    font-size: min(max(3.7vw, 1rem), 2rem);
    font-weight: bold;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-amount-container {
    width: 100%;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-spaced-line-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-amount-container.pos-spaced-line-container .name {
    min-width: unset;
    max-width: unset;
    width: fit-content;
    min-height: unset;
    max-height: unset;
    height: fit-content;
    flex: unset;
    margin-right: .3rem;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-spaced-line-container .spacer {
    flex-grow: 1;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-amount-container.pos-spaced-line-container .amount {
    word-break: break-all;
    white-space: break-spaces;
    word-wrap: break-word;
    text-align: left;
    min-width: fit-content;
    max-width: fit-content;
    width: unset;
    align-self: flex-end;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total .pos-total_amount {
    font-size: min(max(4vw, 1.3rem), 2.3rem);
    font-weight: bold;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines {
    margin-top: 2%;
    font-size: min(max(2vw, .9rem), 1.6rem);
    font-weight: normal;
    line-height: 1.3;
    color: #DEE2E6;
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines::after {
    height: 2vw;
    content: '';
    display: block;
    width: 100%;
}

body .pos-customer_facing_display .pos-portrait-top {
    display: none;
}

body .pos-customer_facing_display .pos-no-order {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #343A40;
}

body .pos-customer_facing_display .pos-no-order .pos-company_logo {
    display: block;
    background-position: center top;
    margin-top: 5vh;
    height: max(10vh, 3rem);
    width: auto;
}

body .pos-customer_facing_display .pos-payment_info .pos-company_logo {
    display: initial;
    background-position: center top;
    margin: 10%;
    -webkit-box-flex: 1 0 20%;
    -webkit-flex: 1 0 20%;
    -moz-box-flex: 1 0 20%;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}

body .pos-customer_facing_display .pos-payment_info {
    background-size: cover;
}

body .pos-customer_facing_display .pos-customer_products,
body .pos-customer_facing_display .pos-payment_info {
    height: 100%;
}

@media all and (orientation: portrait) {
    body .pos-customer_facing_display {
        font-size: 2vh;
        height: 100%;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    body .pos-customer_facing_display .pos-portrait-top {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        height: 15vh;
        padding: 1% 1% 0 1%;
    }

    body .pos-customer_facing_display .pos-portrait-top .pos-header {
        background-image: var(--pos-bg-img);
        background-size: cover;
        border-radius: 0.2rem 0.2rem 0 0;
        height: 100%;
        width: 100%;
        padding: 1% 30%;
        background-color: #343A40;
    }

    body .pos-customer_facing_display .pos-portrait-top .pos-company_logo {
        height: 100%;
        background-position: center;
    }

    body .pos-customer_facing_display .pos-customer_products {
        flex-grow: 1;
        overflow: auto;
        padding-top: 0;
        height: unset;
    }

    body .pos-customer_facing_display .pos_orderlines_list table th {
        font-size: min(5vw, 1rem);
    }

    body .pos-customer_facing_display .pos-order_top_bar {
        border-radius: 0 0 0.2rem 0.2rem;
        border-top: solid gray 1px;
    }

    body .pos-customer_facing_display .pos-customer_products .pos_orderlines {
        -webkit-box-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -moz-box-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    body .pos-customer_facing_display .pos-customer_products .pos_orderlines .pos_orderlines_list {
        padding-right: 1.5vh;
        height: auto;
    }

    body .pos-customer_facing_display .pos-customer_products .pos_orderlines .pos_orderlines_list .pos_orderlines_item {
        box-shadow: 0 0.1vh 0.1vh #dddddd;
        margin-bottom: 1vh;
    }

    body .pos-customer_facing_display .pos-payment_info {
        background-size: 0 0;
        max-width: 100%;
        width: 100%;
        max-height: 40vh;
        height: unset;
        flex-grow: 0;
    }

    body .pos-customer_facing_display .pos-payment_info .pos-company_logo {
        display: none;
    }

    body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details {
        flex-grow: 1;
    }

    body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines {
        margin-top: 2%;
        font-size: max(2.5vw, .7rem);
    }
}

body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details {
    background: #212529;
    opacity: .9;
    padding: 1% 6%;
    flex-grow: 0;
    overflow: hidden;
}

body .pos-hidden {
    opacity: 0;
}

.pos-palette_01 .pos-payment_info {
    background: #343A40;
    color: #f6f6f6;
}

.pos-palette_01 .pos-customer_products {
    background: #f6f6f6;
    color: #585858;
}

.pos-palette_01.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #f6f6f6;
}

.pos-palette_01 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #aaaaaa;
}

@media all and (orientation: portrait) {
    .pos-palette_01:before {
        background: #3E3E3E;
    }
}

.pos-palette_02 .pos-payment_info {
    background: #364152;
    color: #e6e7e8;
}

.pos-palette_02 .pos-customer_products {
    background: #ecf2f6;
    color: #364152;
}

.pos-palette_02.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ecf2f6;
}

.pos-palette_02 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #364152;
}

@media all and (orientation: portrait) {
    .pos-palette_02:before {
        background: #364152;
    }
}

.pos-palette_03 .pos-payment_info {
    background: #1BA39C;
    color: #f6f6f6;
}

.pos-palette_03 .pos-customer_products {
    background: #ececec;
    color: #585858;
}

.pos-palette_03.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ececec;
}

.pos-palette_03 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a0a0a0;
}

@media all and (orientation: portrait) {
    .pos-palette_03:before {
        background: #1BA39C;
    }
}

.pos-palette_04 .pos-payment_info {
    background: #0b7b6c;
    color: #f6f6f6;
}

.pos-palette_04 .pos-customer_products {
    background: #efeeec;
    color: #585858;
}

.pos-palette_04.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #efeeec;
}

.pos-palette_04 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a9a499;
}

@media all and (orientation: portrait) {
    .pos-palette_04:before {
        background: #0b7b6c;
    }
}

.pos-palette_05 .pos-payment_info {
    background: #E26868;
    color: #f6f6f6;
}

.pos-palette_05 .pos-customer_products {
    background: #ececec;
    color: #585858;
}

.pos-palette_05.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ececec;
}

.pos-palette_05 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a0a0a0;
}

@media all and (orientation: portrait) {
    .pos-palette_05:before {
        background: #E26868;
    }
}

.pos-palette_06 .pos-payment_info {
    background: #9E373B;
    color: #f6f6f6;
}

.pos-palette_06 .pos-customer_products {
    background: #f6f6f6;
    color: #585858;
}

.pos-palette_06.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #f6f6f6;
}

.pos-palette_06 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #aaaaaa;
}

@media all and (orientation: portrait) {
    .pos-palette_06:before {
        background: #9E373B;
    }
}

.pos-palette_07 .pos-payment_info {
    background: #ce9934;
    color: white;
}

.pos-palette_07 .pos-customer_products {
    background: #ececec;
    color: #585858;
}

.pos-palette_07.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ececec;
}

.pos-palette_07 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a0a0a0;
}

@media all and (orientation: portrait) {
    .pos-palette_07:before {
        background: #ce9934;
    }
}

.pos-palette_08 .pos-payment_info {
    background: #a48c77;
    color: #f6f6f6;
}

.pos-palette_08 .pos-customer_products {
    background: #ececec;
    color: #585858;
}

.pos-palette_08.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ececec;
}

.pos-palette_08 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a0a0a0;
}

@media all and (orientation: portrait) {
    .pos-palette_08:before {
        background: #a48c77;
    }
}

.pos-palette_09 .pos-payment_info {
    background: linear-gradient(30deg, #014d43, #127e71);
    color: #f6f6f6;
}

.pos-palette_09 .pos-customer_products {
    background: #ececec;
    color: #585858;
}

.pos-palette_09.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ececec;
}

.pos-palette_09 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a0a0a0;
}

@media all and (orientation: portrait) {
    .pos-palette_09:before {
        background: linear-gradient(30deg, #014d43, #127e71);
    }
}

.pos-palette_10 .pos-payment_info {
    background: linear-gradient(30deg, #e2316c, #ea4c89);
    color: white;
}

.pos-palette_10 .pos-customer_products {
    background: #ececec;
    color: #585858;
}

.pos-palette_10.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ececec;
}

.pos-palette_10 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a0a0a0;
}

@media all and (orientation: portrait) {
    .pos-palette_10:before {
        background: linear-gradient(30deg, #e2316c, #ea4c89);
    }
}

.pos-palette_11 .pos-payment_info {
    background: linear-gradient(30deg, #362b3d, #5b4a63);
    color: white;
}

.pos-palette_11 .pos-customer_products {
    background: #ececec;
    color: #585858;
}

.pos-palette_11.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #ececec;
}

.pos-palette_11 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: white;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #a0a0a0;
}

@media all and (orientation: portrait) {
    .pos-palette_11:before {
        background: linear-gradient(30deg, #362b3d, #5b4a63);
    }
}

.pos-palette_12 .pos-payment_info {
    background: #434343;
    color: #e6e6e6;
}

.pos-palette_12 .pos-customer_products {
    background: #5b5b5b;
    color: #bdb9b9;
}

.pos-palette_12.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #5b5b5b;
}

.pos-palette_12 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: #f5f5f5;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #0f0f0f;
}

@media all and (orientation: portrait) {
    .pos-palette_12:before {
        background: #434343;
    }
}

.pos-palette_13 .pos-payment_info {
    background: linear-gradient(30deg, #1a1b1f, #3d3f45);
    color: white;
}

.pos-palette_13 .pos-customer_products {
    background: #a2a2ab;
    color: #f6f6f6;
}

.pos-palette_13.pos-customer_facing_display .pos_orderlines_list table th {
    background-color: #a2a2ab;
}

.pos-palette_13 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    background-color: #f6f6f6;
    color: #3E3E3E;
    box-shadow: 0 0.1vh 0.1vh #55555f;
}

@media all and (orientation: portrait) {
    .pos-palette_13:before {
        background: linear-gradient(30deg, #1a1b1f, #3d3f45);
    }
}


/* /point_of_sale/static/src/css/popups/closing_pos_popup.scss */

.close-pos-popup {
    max-width: 800px !important;
    max-height: 800px;
}

.close-pos-popup th:nth-child(2),
.close-pos-popup td:nth-child(2) {
    text-align: right;
    padding-right: 16px;
    white-space: nowrap;
}

.close-pos-popup th:nth-child(3),
.close-pos-popup td:nth-child(3) {
    padding-left: 4px;
}

.close-pos-popup th:nth-child(4),
.close-pos-popup td:nth-child(4) {
    text-align: right;
    padding-left: 8px;
}

.cash-overview tr td:first-child {
    padding-left: 8px;
}

@media screen and (max-width: 768px) {
    .pos .close-pos-popup {
        overflow-y: auto;
    }
}


/* /point_of_sale/static/src/css/popups/popups.scss */

.modal-footer>* {
    margin: 0.25rem;
}

.pos .dialog {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

.pos .modal-dialog .popup {
    margin: auto;
    max-width: 500px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    z-index: 1060;
    border-radius: 4px;
}

.pos .modal-dialog .popup-med {
    max-width: 700px;
    max-height: 600px;
    height: auto;
}

.pos .popup-med .body {
    max-height: 400px;
    overflow-y: auto;
}

.pos .popup .body.traceback {
    height: 238px;
    overflow: auto;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: left;
    font-family: 'Inconsolata';
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.pos .popup .button.big-left {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 180px;
    height: 180px;
    line-height: 180px;
}

.pos .popup .button.big-right {
    position: absolute;
    top: 120px;
    right: 40px;
    width: 180px;
    height: 180px;
    line-height: 180px;
}

.pos .popup.offline {
    max-width: 600px;
}

.popup-numpad {
    direction: ltr;
}

.pos .popup-textinput main {
    margin-bottom: 20px;
}

.pos-receipt-print {
    width: 512px;
    font-size: 27px;
    color: #000000;
}

.pos-receipt .pos-receipt-right-align {
    float: right;
    display: flex;
}

.pos-receipt .pos-receipt-right-align .tax-letter {
    margin-left: 0.5em;
}

.pos-receipt .pos-receipt-center-align {
    text-align: center;
}

.pos-receipt .pos-receipt-left-padding {
    padding-left: 2em;
}

.pos-receipt .pos-receipt-logo {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.pos-receipt .pos-receipt-contact {
    text-align: center;
    font-size: 75%;
}

.pos-receipt .pos-receipt-order-data {
    text-align: center;
    font-size: 75%;
}

.pos-receipt .pos-receipt-amount {
    font-size: 125%;
    padding-left: 6em;
}

.pos-receipt .pos-receipt-title {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.pos-receipt .pos-receipt-header {
    font-size: 125%;
    text-align: center;
}

.pos-receipt .pos-order-receipt-cancel {
    color: red;
}

.pos-receipt .pos-receipt-customer-note {
    word-break: break-all;
}

.pos-payment-terminal-receipt {
    text-align: center;
    font-size: 75%;
}

.pos-payment-terminal-receipt pre {
    font-family: inherit;
}

.responsive-price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.responsive-price>.pos-receipt-right-align {
    margin-left: auto;
}

.pos-receipt .pos-receipt-taxes {
    display: grid;
    grid-template-columns: min-content min-content auto auto auto;
    width: 100%;
    justify-items: end;
}

.pos-receipt .orderlines {
    direction: ltr;
}

button {
    transition: all 150ms linear;
}

[type="text"],
[type="password"],
[type="number"],
[type="email"],
[type="tel"],
textarea,
select {
    width: 100%;
    display: block;
    outline: none;
}

.text-large {
    font-size: large;
}

.z-1000 {
    z-index: 1000;
}

.h-inherit {
    height: inherit;
}

.product-reminder span {
    animation: 0.7s anim-lineUp ease-out 1;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.leftpane {
    max-width: 500px;
    width: 500px;
    margin-top: 40px;
    overflow: hidden;
    background-color: transparent !important;
}

@media screen and (max-width: 992px) {

    .order,
    .leftpane {
        max-width: inherit;
        border-right: none;
    }
}

.pos .numpad {
    direction: ltr;
}

.pos .button.validation.load-order-button {
    height: calc(var(--btn-height-size) * 2);
}

@media screen and (max-width: 992px) {
    .pos .button.validation.load-order-button {
        height: 70px;
    }
}

.pos *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.pos *::-webkit-scrollbar-track {
    background: #e7e9ed;
    border-left: solid 1px #c8c8c8;
}

.pos *::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    background: #393939;
    min-height: 30px;
}

.pos.big-scrollbars *::-webkit-scrollbar {
    width: 40px;
    height: 40px;
}

.pos.big-scrollbars *::-webkit-scrollbar-track {
    background: #e7e9ed;
    border-left: none;
}

.pos.big-scrollbars *::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    min-height: 40px;
    border-radius: 3px;
}

.pos.big-scrollbars *::-webkit-scrollbar-button {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #d2d2d2;
    background-size: cover;
}

.o-fade {
    transition: opacity .2s;
}

.o-fade-enter,
.o-fade-leave {
    opacity: 0;
}

.drag-handle:active {
    cursor: grabbing;
}

.pos .button.validation.with-more-button {
    height: calc(var(--btn-height-size) * 2);
}

.flex-grow-inf {
    flex-grow: 9999 !important;
}

@keyframes w-tour-pointer-bounce-horizontal {
    from {
        transform: translateX(calc(var(--TourPointer__bounce-offset) * -1));
    }

    to {
        transform: translateX(var(--TourPointer__bounce-offset));
    }
}

@keyframes w-tour-pointer-bounce-vertical {
    from {
        transform: translateY(calc(var(--TourPointer__bounce-offset) * -1));
    }

    to {
        transform: translateY(var(--TourPointer__bounce-offset));
    }
}

@keyframes w-tour-pointer-fade-in {
    from {
        opacity: 0;
    }
}

@keyframes w-tour-pointer-info-expand {
    from {
        width: 0;
        height: 0;
    }
}

.w_tour_pointer {
    --TourPointer__anchor-space: 0;
    --TourPointer__bounce-offset: 3px;
    --TourPointer__offset: 8px;
    --TourPointer__scale: 1.12;
    --TourPointer__color: #714B67;
    --TourPointer__color-accent: #86597b;
    --TourPointer__border-width: 1px;
    --TourPointer__border-color-rgb: 255, 255, 255;
    --TourPointer__border-color: rgba(var(--TourPointer__border-color-rgb), 1);
    --TourPointer__arrow-size: 1rem;
    --TourPointer__animation-duration: 500ms;
    --TourPointer__expand-duration: 200ms;
    --TourPointer__text-color: black;
    --TourPointer__reveal-animation: w-tour-pointer-fade-in 400ms ease;
    --TourPointer__translate-x: 0;
    --TourPointer__translate-y: 0;
    z-index: 1080;
    max-width: 270px;
    border: var(--TourPointer__border-width) solid transparent;
    transform: translate(var(--TourPointer__translate-x), var(--TourPointer__translate-y));
    transition: width var(--TourPointer__expand-duration), height var(--TourPointer__expand-duration);
}

.w_tour_pointer.w_bouncing.w_left,
.w_tour_pointer.w_bouncing.w_right {
    animation: w-tour-pointer-bounce-horizontal var(--TourPointer__animation-duration) ease-in infinite alternate, var(--TourPointer__reveal-animation);
}

.w_tour_pointer.w_bouncing.w_top,
.w_tour_pointer.w_bouncing.w_bottom {
    animation: w-tour-pointer-bounce-vertical var(--TourPointer__animation-duration) ease-in infinite alternate, var(--TourPointer__reveal-animation);
}

.w_tour_pointer .w_tour_pointer_tip {
    width: var(--TourPointer__width);
    height: var(--TourPointer__height);
    border: var(--TourPointer__border-width) solid white;
    border-radius: 0 50% 50% 50%;
    background-image: radial-gradient(var(--TourPointer__color-accent), var(--TourPointer__color));
    box-shadow: 0 0 40px 2px rgba(var(--TourPointer__border-color-rgb), 0.5);
}

.w_tour_pointer .w_tour_pointer_content {
    background-color: #FFF;
    color: transparent;
    transition: color 0s ease var(--TourPointer__expand-duration);
    line-height: 1.5;
    font-size: 0.875rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
}

.w_tour_pointer .w_tour_pointer_content .o_skip_tour {
    display: inline-block;
    margin-top: 4px;
    color: gray;
    cursor: pointer;
}

.w_tour_pointer .w_tour_pointer_content .o_skip_tour:hover {
    color: #4d4d4d;
}

.w_tour_pointer .w_tour_pointer_content p:last-child {
    margin-bottom: 0;
}

.w_tour_pointer.w_left .w_tour_pointer_tip {
    transform: rotate(90deg) translateY(var(--TourPointer__offset)) scaleY(var(--TourPointer__scale)) rotate(45deg);
}

.w_tour_pointer.w_right .w_tour_pointer_tip {
    transform: rotate(270deg) translateY(var(--TourPointer__offset)) scaleY(var(--TourPointer__scale)) rotate(45deg);
}

.w_tour_pointer.w_top .w_tour_pointer_tip {
    transform: rotate(180deg) translateY(var(--TourPointer__offset)) scaleY(var(--TourPointer__scale)) rotate(45deg);
}

.w_tour_pointer.w_bottom .w_tour_pointer_tip {
    transform: rotate(0deg) translateY(var(--TourPointer__offset)) scaleY(var(--TourPointer__scale)) rotate(45deg);
}

.w_tour_pointer.w_open {
    border-color: #9a9ca5;
    background-color: #d8dadd;
    animation: var(--TourPointer__reveal-animation);
}

.w_tour_pointer.w_open .w_tour_pointer_tip {
    width: var(--TourPointer__arrow-size);
    height: var(--TourPointer__arrow-size);
    border-color: #9a9ca5;
    border-radius: 0;
    background: #FFF;
    box-shadow: none;
}

.o_tour_pointer.w_open .w_tour_pointer_content {
    color: #000;
}

.w_tour_pointer.w_open.w_left {
    --TourPointer__translate-x: calc(var(--TourPointer__arrow-size) / -2);
}

.w_tour_pointer.w_open.w_left .w_tour_pointer_tip {
    transform: translateX(-50%) rotate(45deg);
    right: calc(var(--TourPointer__arrow-size) * -1);
    top: calc(var(--TourPointer__arrow-size) / 2);
}

.w_tour_pointer.w_open.w_right {
    --TourPointer__translate-x: calc(var(--TourPointer__arrow-size) / 2);
}

.w_tour_pointer.w_open.w_right .w_tour_pointer_tip {
    transform: translateX(50%) rotate(45deg);
    left: calc(var(--TourPointer__arrow-size) * -1);
    top: calc(var(--TourPointer__arrow-size) / 2);
}

.w_tour_pointer.w_open.w_top {
    --TourPointer__translate-y: calc(var(--TourPointer__arrow-size) / -2);
}

.w_tour_pointer.w_open.w_top .w_tour_pointer_tip {
    transform: translateY(-50%) rotate(45deg);
    bottom: calc(var(--TourPointer__arrow-size) * -1);
    left: calc(var(--TourPointer__arrow-size) / 2);
}

.w_tour_pointer.w_open.w_bottom {
    --TourPointer__translate-y: calc(var(--TourPointer__arrow-size) / 2);
}

.w_tour_pointer.w_open.w_bottom .w_tour_pointer_tip {
    transform: translateY(50%) rotate(45deg);
    top: calc(var(--TourPointer__arrow-size) * -1);
    left: calc(var(--TourPointer__arrow-size) / 2);
}

.w_tour_pointer.w_open.w_expand_left.w_top,
.w_tour_pointer.w_open.w_expand_left.w_bottom {
    --TourPointer__translate-x: calc(var(--TourPointer__width) + var(--TourPointer__border-width) - 100%);
}

.w_tour_pointer.w_open.w_expand_left.w_top .w_tour_pointer_tip,
.w_tour_pointer.w_open.w_expand_left.w_bottom .w_tour_pointer_tip {
    left: initial;
    right: calc(var(--TourPointer__arrow-size) / 2);
}

@media print {
    .w_tour_pointer {
        display: none !important;
    }
}

.pos-customer_facing_display .online-payment {
    height: 100%;
    font-size: min(max(2vw, .9rem), 1.6rem);
    overflow: hidden;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.pos-customer_facing_display .online-payment .instructions {
    -webkit-box-flex: 1 0 75%;
    -webkit-flex: 1 0 75%;
    -moz-box-flex: 1 0 75%;
    -ms-flex: 1 0 75%;
    flex: 1 0 75%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pos-customer_facing_display .online-payment .instructions p {
    padding-top: .3rem;
    margin-bottom: 0;
    font-size: min(max(2.9vw, 0.4rem), 1.6rem);
}

.pos-customer_facing_display .online-payment .instructions .qr-code {
    height: max(min(min(75vh, 75vw), 60%), 5rem);
    width: auto;
    overflow: visible;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pos-customer_facing_display .online-payment .instructions .spacer {
    height: 10%;
}

.pos-customer_facing_display .online-payment .info {
    padding: 0 2%;
    font-size: min(max(3vw, 0.6rem), 1.6rem);
    max-height: 25%;
    height: unset;
    justify-content: left;
    text-align: left;
}


/* /pos_online_payment/static/src/css/popups/online_payment_popup.css */

.pos .online-payment-popup .body {
    padding: 1rem;
}

.pos .online-payment-popup .title {
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: .3rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px rgba(60, 60, 60, 0.1);
}

.pos .online-payment-popup .instructions p {
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
}

.pos .online-payment-popup .instructions .qr-code {
    width: min(max(50%, 15rem), 75%);
    height: auto;
    margin: .3rem auto .3rem auto;
}

.pos .online-payment-popup .info {
    border-top: solid 1px rgba(60, 60, 60, 0.1);
    padding-top: .6rem;
    justify-content: left;
    text-align: left;
    font-size: 1rem;
}

.pos .online-payment-popup .footer .button {
    margin: auto;
    background-color: #F3BBBB;
    color: rgb(168, 89, 89);
}

.text-success {
    color: #67c23a !important;
}

.border-success {
    border-color: #67c23a !important;
}

.badge.bg-success {
    border-radius: 5px;
    background: rgba(103, 194, 58, 0.1) !important;
}

.input-group,
.input-group .input-group-text {
    transition: box-shadow 0.15s ease, border-color 0.2s cubic-bezier(0.655, 0.055, 0.345, 1);
}

.input-group {
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(12, 26, 36, 0.06);
}

.ms-auto {
    margin-left: auto !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group,
.input-group .input-group-text {
    transition: box-shadow 0.15s ease, border-color 0.2s cubic-bezier(0.655, 0.055, 0.345, 1);
}

.input-group-sm>.form-control,
.input-group-sm>.form-select,
.input-group-sm>.input-group-text,
.input-group-sm>.btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    border-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.input-group-text {
    padding-left: 10px;
    padding-right: 10px;
}

.text-body {
    color: #64748b !important;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.6875rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    color: #1e293b;
    text-align: center;
    white-space: nowrap;
    background-color: #f9fafb;
    border: 1px solid #dde0e5;
    border-radius: 0.375rem;
}